:root {
  --light-grey: #a3a5a76c;
}

/* Responsive Size based on size between Large and small Laptops */
@media only screen and (max-width: 1210px) {
  /* Headings */
  h3 {
    font-size: 30px;
  }

  /* Utilities */
  .container {
    max-width: 85%;
  }

  /* Large Cards */
  .l-card img {
    height: 100%;
    object-fit: cover;
  }

  .l-card-content h3 {
    font-size: 28px;
  }

  .l-card img {
    width: 100%;
  }

  .l-card-content {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  /* Event Cards */
  .event-cards {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
  }

  .event-card {
    width: 100%;
    height: 370px;
  }
}

/* Responsive Size based on generic Laptop size */
@media only screen and (max-width: 1050px) {
  /* Headings */
  h3 {
    font-size: 28px;
  }

  /* Utilities */
  .container {
    max-width: 85%;
  }

  /* Other Hero Sections */
  #about-hero .hero-content,
  #reference-hero .hero-content {
    margin-top: 13rem;
    width: 100%;
  }

  #about-hero h1,
  #reference-hero h1 {
    font-size: 60px;
  }

  /* Main Page Content */
  .page-content h4 {
    font-size: 24px;
  }

  .container.page-container {
    max-width: 100%;
  }

  /* Large Cards */
  .l-card {
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
  }

  /* Making reference button appear on right opposed to left in cards */
  .l-card .reference-btn-left {
    right: 20px;
    left: auto;
  }

  .l-card .reference-btn-left .reference-btn-link {
    top: 0px;
    left: auto;
    right: 40px;
  }

  .l-card .reference-btn-left .reference-btn-link:after {
    content: "";
    position: absolute;
    left: auto;
    top: 25%;
    right: -13px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent transparent var(--light-blue);
  }

  /* Adjusting Large Card Positioning */
  #l-card-container {
    max-width: 100%;
    width: 100%;
  }

  .l-card-content {
    z-index: 1;
    height: 55%;
  }

  .l-card-content p {
    height: auto;
    padding-bottom: 40px;
  }

  .l-card img {
    position: absolute;
    object-fit: cover;
    filter: brightness(0.4);
  }

  /* Maori Quote */
  #maori-quote h2 {
    display: none;
  }

  #maori-quote {
    flex-direction: row-reverse;
  }

  /* Footer */
  .footer-content ul {
    width: 400px;
  }
}

/* Responsive Size based on generic smaller sizes */
@media only screen and (max-width: 940px) {
  /* Headings */
  h3 {
    font-size: 40px;
  }

  /* Home Hero Section */
  #home-hero {
    margin-bottom: 40px;
  }

  #home-hero .hero-content {
    margin-left: 7px;
  }

  /* Celebrate Matariki Hero Section */
  #celebrate-hero .hero-content {
    width: 75%;
  }

  /* Large Card Adjustment */
  .l-card img {
    position: absolute;
    width: 940px;
    object-fit: cover;
    filter: brightness(0.4);
  }

  /* Footer */
  footer {
    height: auto;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 40px 0 40px 0;
  }

  .footer-content h4 {
    padding-bottom: 15px;
  }

  .footer-content h5 {
    padding-bottom: 5px;
  }

  .footer-content ul {
    flex-direction: column;
    width: 80vw;
  }

  .footer-content ul li {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px dotted rgba(255, 255, 255, 0.3);
  }

  .footer-content li:nth-child(1),
  .footer-content li:nth-child(2) {
    margin-right: 0;
  }
}

/* Navigation Change to Menu Button And Page Alterations */
@media only screen and (max-width: 870px) {
  /* Hero Section */
  .hero-content {
    width: 75%;
  }
  #home-hero {
    background: url("../images/matariki-sky.png") no-repeat 10% 90% / cover;
    height: 650px;
  }
  /* Video Cards */
  .videos-wrap-x2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    row-gap: 20px;
    column-gap: 20px;
  }
  .videos-wrap-x3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
  }

  /* Event Cards */
  .event-cards {
    padding: 0;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    width: 100%;
    overflow: hidden;
  }
  .event-card {
    width: 100%;
    height: 320px;
  }

  /* Navigation Change - Menu Button */
  .nav i {
    display: block;
  }

  .nav-links.show {
    transform: translateX(1px);
  }

  .fa-bars,
  .fas {
    display: block !important;
    margin-left: 3rem;
  }

  .fa-bars:hover,
  .menu-exit:hover {
    cursor: pointer;
    opacity: 0.4;
  }

  .nav-links li:nth-child(1) {
    display: block;
  }

  .nav-links {
    z-index: 5;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #101123;
    width: 100%;
    height: 100vh;
    transform: translateX(-1000px);
    transition: transform 0.5s ease-in-out;
  }

  .nav-links li {
    font-size: 20px;
    width: 80%;
    margin-bottom: 1.5rem;
    padding-bottom: 20px;
    margin-left: 30px;
    border-bottom: 2px dotted rgba(255, 255, 255, 0.3);
  }

  .nav-links li:nth-child(1) {
    display: block;
    margin-top: 120px;
  }

  .nav-links::before {
    content: "";
    background: url(../images/logo.png);
    background-size: cover;
    height: 42px;
    width: 152px;
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .menu-exit {
    display: block;
    position: absolute;
    font-size: 25px !important;
    top: 35px;
    right: 40px;
    z-index: 100;
    width: 21px !important;
    height: 21px !important;
    border-bottom: none !important;
  }

  /* Information Page Content Structure Change */
  .page-content-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, 1fr);
  }

  .resources-bar {
    margin-top: 20px;
  }

  .page-content {
    padding: 40px;
  }
}

/* Mobile Phone Adjustments */
@media only screen and (max-width: 640px) {
  /* Hero Section */
  .hero-content {
    width: 100%;
  }
  #home-hero {
    background: url("../images/matariki-sky.png") no-repeat 10% 90% / cover;
    height: 650px;
  }

  /* General Headings */
  h3 {
    font-size: 30px;
  }

  /* Celebrate Matariki Heading Hero */
  #celebrate-hero .hero-content h1 {
    font-size: 45px;
  }

  #celebrate-hero .hero-content {
    width: 100%;
  }

  /* Event Cards */
  .event-cards {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 20px;
    column-gap: 0;
    width: 100%;
  }

  .event-card {
    width: 100%;
    height: auto;
  }

  .meta-text {
    position: relative;
  }

  /* Video Cards */
  .videos-wrap-x3 {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 0;
  }
  .videos-wrap-x2 {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 0;
  }

  /* Maori Quote */
  .quote-banner {
    height: 250px;
  }

  #maori-quote img {
    height: 146px;
    width: 146px;
    margin-right: 20px;
  }

  #maori-quote p {
    font-size: 1rem;
  }
}

/* Further Phone Adjustments */
@media only screen and (max-width: 480px) {
  /* Maori Quote */
  .quote-banner {
    height: 200px;
  }

  #maori-quote.container {
    margin: 0;
  }

  #maori-quote img {
    display: none;
  }

  #maori-quote .reference-btn {
    display: none;
  }

  #maori-quote p {
    font-size: 16px;
  }

  /* Reference Buttons */
  .reference-btn span {
    font-size: 14px;
  }

  /* Hero Section Content */
  #about-hero h1,
  #celebrate-hero h1,
  #reference-hero h1 {
    font-size: 2.8rem;
  }
  #about-hero h2,
  #celebrate-hero h2 {
    font-size: 2rem;
  }

  /* Reference Bar */
  .reference-bar {
    font-size: 0.9rem;
  }
}
