@media only screen and (max-width: 1200px) {
    /* Headings */
    h3 {
        font-size: 30px;
    }

    /* Utilities */
    .container {
        max-width: 1100px;
    }
    
    /* Navigation Bar */
    .nav-links {
        width: 40%;
    }

    /* Horizontal Cards */
    .h-card-content {
        padding-top: 24px;
        padding-bottom: 24px;
    }

}