/* Styles for Matariki Website */

/* Root Setup */
:root {
  --white: #ffff;
  --black: #0000;
  --light-blue: #39477d;
  --medium-blue: #171831;
  --purple-blue: #2b2d53;
  --dark-blue: #101123;
}

/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: white;
  background-color: black;
}

a {
  cursor: pointer;
  transition: 0.3s;
  color: white;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.text-reference sup{
    color: #A0A4F4;
}

.purple-link{
    color: #A0A4F4;
    text-decoration: underline;
}

/* Headings */
h3 {
  font-size: 35px;
  padding-bottom: 30px;
}

h4 {
  font-size: 25px;
  padding-bottom: 10px;
}

h5 {
  font-size: 18px;
  padding-bottom: 1rem;
}

.light-heading {
  font-weight: 300;
}

/* Utilities */
.container {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: auto;
}

.logo {
  height: 42px;
  width: 152px;
}

.logo-link:hover {
  cursor: pointer;
  opacity: 1;
}

.active {
  opacity: 0.7;
}

/* Buttons */
.btn {
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 15px 10px 15px 10px;
  width: 50%;
  transition: 0.3s;
}

.btn-blue {
  background: var(--light-blue);
  color: white;
}

.btn-blue:hover {
  background: #2c3660;
  opacity: 1;
}

.reference-btn {
  display: block;
  position: absolute;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  background-color: var(--light-blue);
  color: white;
  font-size: 1.5rem;
  border: none;
  bottom: 20px;
}

.reference-btn-right {
  right: 20px;
}

.reference-btn-left {
  left: 20px;
}

.reference-btn-link {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  visibility: hidden;
  width: max-content;
  background-color: var(--light-blue);
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 7px;
  position: absolute;
  transition: none;
}

.reference-btn-link a {
    text-decoration: underline;
    transition: none;
}

.reference-btn-right .reference-btn-link {
  top: 0px;
  right: 40px;
}

.reference-btn-right .reference-btn-link:after {
  content: "";
  position: absolute;
  top: 25%;
  right: -13px;
  border-width: 7px;
  border-style: solid;
  border-color: transparent transparent transparent var(--light-blue);
}

.reference-btn-left .reference-btn-link {
  top: 0px;
  left: 40px;
}

.reference-btn-left .reference-btn-link:after {
  content: "";
  position: absolute;
  top: 25%;
  left: -13px;
  border-width: 7px;
  border-style: solid;
  border-color: transparent var(--light-blue) transparent transparent;
}

.reference-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.reference-btn:hover .reference-btn-link {
  visibility: visible;
  opacity: 1;
}

/* Navigation Bar */
nav {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 90px;
  transition: all 0.2s ease-in-out;
}

.scrolled {
  background-color: var(--dark-blue);
}

.fa-bars,
.fas {
  display: none;
}

.menu-exit {
  display: none;
}

.nav-links li:nth-child(1) {
  display: none;
}

.nav-content {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  width: 35%;
  justify-content: space-between;
  list-style: none;
}

.nav-links li a {
  font-size: 18px;
  text-decoration: none;
  color: white;
}

/* Hero Section */
.hero {
  position: relative;
  display: flex;
  justify-content: center;
}

.hero h1 {
  font-size: 65px;
}

.hero h2 {
  font-size: 35px;
}

.hero p {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 300;
}

.hero-content {
  margin-top: 14rem;
  position: relative;
  width: 48%;
}

#home-hero {
  background: url("../images/matariki-sky.png") no-repeat center 90% / cover;
  height: 650px;
}

#about-hero {
  background: url("../images/hill-and-sky.jpg") no-repeat center 90% / cover;
  height: 550px;
}

#celebrate-hero {
  background: url("../images/matariki-gathering.jpg") no-repeat center 90% /
    cover;
  height: 600px;
}

#reference-hero {
  background: url("../images/pink-sky.png") no-repeat center 90% / cover;
  height: 550px;
}

/* Page Introduction */
.page-intro {
  background-color: var(--purple-blue);
  padding: 40px;
  font-weight: 200;
  font-size: 23px;
  line-height: 30px;
  text-align: justify;
}

/* Main Informational Page Content */
.page-content {
  background-color: var(--medium-blue);
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 34px;
  position: relative;
}

.page-content-grid {
  display: grid;
  grid-template-columns: 1fr 0.4fr;
  column-gap: 85px;
}

.page-content img {
  width: 100%;
}

.page-content p {
  font-weight: 200;
  line-height: 22px;
}

.page-content ul {
  margin-left: 2rem;
}

.page-content ul li {
  margin-bottom: 0.5rem;
}

.page-content div {
  position: relative;
}

/* Side Bars */
.resources-bar,
.videos-bar {
  padding: 20px;
  margin-bottom: 50px;
  background-color: var(--purple-blue);
}

.resources-bar h4,
.videos-bar h4 {
  padding-bottom: 1.5rem;
}

/* Cards */
/* Full-Width Large Cards */
.l-card {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  margin: 40px 0 40px 0;
  background-color: var(--medium-blue);
}

.l-card-left {
  grid-template-areas: "text image";
}

.l-card-right {
  grid-template-areas: "image text";
}

.l-card-content {
  padding: 48px;
  grid-area: text;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
}

.l-card-content p {
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  text-align: justify;
  height: 145.5px;
}

.l-card-content h3 {
  padding-bottom: 20px;
}

.l-card img {
  grid-area: image;
  position: relative;
}

/* Resource Card */
.resource-card {
  border-left: 1px solid #ffffff;
  margin-bottom: 30px;
  padding: 1rem 0 1rem 0;
  transition: 0.3s;
}

.resource-card:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
}

.resource-card h5 {
  padding-bottom: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

.resource-card * {
  margin-left: 20px;
  padding-bottom: 0;
}

/* Video Card */
.video-card {
  margin-bottom: 30px;
}

.video-card h5 {
  margin-top: 5px;
  padding-bottom: 5px;
}

.video-card:hover {
  cursor: pointer;
}

.video-card:hover h5 {
  text-decoration: underline;
}

/* Event Cards */
.event-cards {
  display: grid;
  padding-right: 34px;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 22px;
  overflow: scroll;
}

.event-card {
  background-color: var(--purple-blue);
  border-radius: 6px;
  overflow: hidden;
  height: 300px;
  width: 266.5px;
  position: relative;
}

.event-card img {
  border-radius: 6px;
}

.event-card h5,
.event-card p {
  color: var(--white);
  padding: 10px;
}

.event-card-info {
  font-size: 15px;
  line-height: 19px;
}

.event-card h5 {
  line-height: 27px;
  padding-bottom: 0;
}

.meta-text {
  font-weight: 300;
  font-size: 13px;
  opacity: 0.8;
  position: absolute;
  bottom: 0;
}

/* Quote Section */
.quote-banner {
  background-color: var(--medium-blue);
  height: 252px;
  position: relative;
}

#maori-quote {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#maori-quote img {
  width: 176px;
  height: 176px;
}

#maori-quote h2 {
  font-size: 50px;
  width: 25%;
}

#maori-quote p {
  font-size: 20px;
  font-weight: 200;
}

#maori-quote p:nth-child(3) {
  padding-bottom: 20px;
}

/* Footer */
footer {
  height: 150px;
  background-color: var(--dark-blue);
}

.footer-content {
  display: grid;
  grid-template-columns: 1fr 0.4fr;
  align-items: center;
}

.footer-content div {
  height: 50%;
}

.footer-content ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.footer-content a {
  color: var(--white);
  font-weight: 100;
  text-decoration: underline;
}

.footer-content h3,
.footer-content h4 {
  padding-bottom: 0;
}

/* References Bar */
.reference-bar {
  display: flex;
  background-color: var(--light-blue);
  height: 45px;
  width: 100%;
  font-weight: 100;
  justify-content: center;
  align-items: center;
  color: white;
}

.reference-bar:hover {
  text-decoration: underline;
  opacity: 1;
}
